{% extends "layout.html" %}
<!--title part-->
{% block title %}Staff Login{% endblock %}
<!--head part-->
{% block head %}
{{ super() }}
<style>
    body{
        background: #EEEEEE;
    }
  #input{
      margin-left: 10px;
  }
  .card{
    margin-top:80px;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    border:solid 1px #1565C0;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 10px;
  }
  .card:hover{
    box-shadow: 0 0 5px 5px #757575;
    transition:ease .5s;
  }
  .card-header{
      background-color: #1565C0;
      text-align: center;
      color: white;
      font-size: 20px;
      border:solid 1px #1565C0;
      font-weight: 600;
    }
    #button{
        color:white;font-weight:bold;background-color:#1976D2;width:180px; border-top-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }
    #button:hover{
        box-shadow: 2px 2px rgb(0,0,0);
    }

</style>
{% endblock %}
<!--content part-->
{% block content %}
<div class="container">
    <form action="/all_mail" method="post">
    <div class="row justify-content-center">
        <div class="col-sm-6">
            <div class="card">
                <div class="card-header" style="border-top-left-radius: 25px;">Any Queries ??</div>
                    <div class="card-body"><br>
                    
                        <div class="form-group">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-envelope" style="font-size: 15px;"></i></span>
                                </div>
                                <input type="email" class="form-control" placeholder="E-Mail" aria-label="Username" aria-describedby="basic-addon1" name="mail" required>
                              </div>    
                        </div>

                        <div class="form-group" style="margin-top:20px">
                            <div class="input-group mb-3">
                                <div class="input-group-prepend">
                                  <span class="input-group-text" id="basic-addon1"><i class="fa fa-question" style="font-size: 15px;"></i></span>
                                </div>
                                <input type="text" class="form-control" placeholder="Enter the Query" aria-label="Username" aria-describedby="basic-addon1" name="msg" required>
                              </div>    
                        </div>
       


<div class="d-flex justify-content-center">
    <input type="submit" value="submit" class="btn btn-success1" name="submit" id="button">
</div><br>
</div>
</div>
</div>
</div><br><br>
    </form>
</div>


{% endblock %}
